<!DOCTYPE html>
<html>

<head>
  <title>BuzzWork Assessment</title>
  <meta charset="UTF-8">
  <meta name="description" content="BuzzHire Assessment">
  <meta name="keywords" content="HTML,CSS,JSON,JavaScript">
  <meta name="author" content="Hamzah Kurdi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="stylesheet" type="text/css" href="/static/react-big-calendar.css">
</head>

<body>
  <div id="root">

  </div>
  <script src="/static/bundle.js"></script>
</body>

</html>